.main_sec {
  background: linear-gradient(180deg, #1B0327 0%, #2A083C 100%);
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  padding: 80px 0;
}

.reverse {
  flex-direction: row-reverse;
}

.textBox {
  flex: 1;
}

.subtitle {
  color: #8a2be2;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;

}

.title {
  font-size: 38px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;

}

.desc {
  color: #c4b4ef;
  line-height: 1.6;
  font-size: 16px;
  max-width: 550px;
  font-family: 'Poppins', sans-serif;

}

.imageBox {
  flex: 1;
}

.imageBox img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.ctaButton {
  background: linear-gradient(90deg, #6a7bff 0%, #a958ff 40%, #ff5f9e 80%);
  border: none;
  border-radius: 25px;
  color: #fff !important;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 30px;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 8px rgba(175, 162, 255, 0.3);
  font-family: 'Poppins', sans-serif;

}

.ctaButton:hover {
  background: linear-gradient(90deg, #6a7bff 0%, #a958ff 40%, #ff5f9e 80%);
  color: #020202 !important;
  transform: translateY(-2px);
  box-shadow: 0 0 12px rgba(175, 162, 255, 0.6);
}


@media (max-width: 992px) {
  .section {
    flex-direction: column;
    text-align: center;
    padding: 60px 0;
  }

  .reverse {
    flex-direction: column;
  }

  .imageBox {
    order: -1;
  }

  .desc {
    max-width: 100%;
  }
}