.main_Section {
  transition: all 0.4s ease;

}

.contain_sec {
  display: flex;
  align-items: center;
  height: 100%;

}

.main_sec h1 {
  font-size: 72px;
  font-weight: 700;
  color: #fff;
}

.main_sec p {
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  line-height: 2rem;
  margin: 0px;
  padding: 20px 0px 30px;
}

/* container for injected actions/buttons */
.actions {
  margin-top: 16px;
  display: flex;
  gap: 12px;
  align-items: center;
}
