.contact_section {
    background-color: #0F0715;
    padding: 150px 20px;
    color: #FAFAFA;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid #fff; */
}
.contain{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* border: 1px solid #fff; */
}


.contact_sec_discover {
    color: #FAFAFA;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact_sec_discover h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.contact_sec_discover h1 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;

}

.contact_sec_discover p {
    font-size: 17px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 20px;

}


/* .discover_img{
    border: 1px solid #fff;
} */
.discover_img img{
    width: 600px;
}

