/* .main_engine {
    background: linear-gradient(rgb(17, 11, 17), rgb(17, 11, 17));
    height: auto;
    padding: 50px 0px;
}


.main_sec {
    display: flex;
    justify-content: center;
    align-items: center;
}

.engine_head {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.engine_head h1 {
    font-size: 35px;
    font-weight: 500;
}

.engine_head p {
    font-size: 17px;
    font-weight: 400;
}

.engine_img {
    width: 100%;
}

.engine_img img {
    width: 100%;
}


@media (max-width: 575.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 1199.98px) {
    .main_sec {
        flex-wrap: wrap;
    }

    .engine_head {
        text-align: center;
        align-items: center;
    }

}

@media (max-width: 1399.98px) {} */



.main_engine {
  padding: 100px 0;
  overflow: hidden;
  background-color: #0F0715;

}

.main_sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.engine_head {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 550px;
}

.engine_head h1 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.3;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(186, 150, 255, 0.2);
}

.engine_head p {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.7;
  color: #D4C8F5;
  text-align: justify;
}

.engine_img {
  width: 500px;
  flex-shrink: 0;
}

.engine_img img {
  width: 100%;
  border-radius: 14px;
  /* box-shadow: 0 0 30px rgba(203, 183, 255, 0.1);
   */
  box-shadow: 0 0 0 rgba(203, 183, 255, 0);
  transition: all 0.4s ease;
}

.engine_img img:hover {
  transform: scale(1.03);
  /* box-shadow: 0 0 35px rgba(66, 221, 166, 0.2); */
  /* border-color: rgba(203, 183, 255, 0.5); */
  /* box-shadow: 0 0 25px rgba(203, 183, 255, 0.15); */
}

/* === Responsive === */
@media (max-width: 1199.98px) {
  .main_sec {
    flex-direction: column;
    text-align: center;
  }

  .engine_head {
    align-items: center;
    text-align: center;
  }

  .engine_img {
    width: 100%;
    max-width: 500px;
  }
}

@media (max-width: 768px) {
  .engine_head h1 {
    font-size: 32px;
  }

  .engine_head p {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .engine_head h1 {
    font-size: 26px;
  }
}