@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&family=Montserrat:wght@700;800;900&display=swap');


*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 3px;             
}

::-webkit-scrollbar-track {
  background: #ffffff;       
}

::-webkit-scrollbar-thumb {
  background-color: #170321;  
  border-radius: 10px;       
  border: 2px solid #1a1a1a;  
}

::-webkit-scrollbar-thumb:hover {
  background-color: #170321;
}
